/* Shop items styles are here */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  @media (max-width: 1000px) {
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }
  
  .item {
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .item img {
    width: 100%;
    border-radius: 9px 9px 0 0;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .title-details {
    color: #264653;
  }
  
  .description-details {
    color: #264653;
    font-weight: 550;
  }
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    color: #264653;
  }
  
  .quantity {
    color: #264653;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 22px;
  }
  
  .bi-dash-circle-fill {
    color: #d6d6d6;
  }
  
  .bi-plus-circle-fill {
    color: #3d3d3d;
  }
  
  .bi-dash-circle-fill:hover {
    color: #ff000071;
  }
  
  .bi-plus-circle-fill:hover {
    color: #005a0485;
  }